.editor {
    width: 100%;
    height: 100%;

    &_label {
        height: 30px;
        display: flex;

        input {
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            box-sizing: border-box;
            text-align: center;
            font-size: 18px;
        }
    }
}